.head {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  color: black;
  text-align: center;
  background: #c5aaca;
}

.html {
  background: aqua;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
